@model SuperScheduler.ViewModels.EmployeeViewModel
@{
    ViewBag.Title = "Edit Employee Positions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12">
    <h2>Edit Employee Positions</h2>
    @using (Html.BeginForm("ChangeEmployeePositions", "Manager"))
    {
        if (Model.Employees.Count > 0)
        {
            <table class="table-hover table-striped table" style="width:100%; text-align:center; font-size:16px;">
                <thead>
                    <tr>
                        <th style="text-align:center">#</th>
                        <th style="text-align:center">Employee Name</th>
                        <th style="text-align:center">Position</th>
                        <th style="text-align:center">Phone Number</th>
                    </tr>
                </thead>
                <tbody style="padding-top:10px;">
                    @{
                        int row = 1;
                        for (int i = 0; i < Model.Employees.Count; i++)
                        {
                            <tr>
                                <td style="padding-top:14px;">@row</td>
                                <td style="padding-top:14px;">@Model.Employees[i].Name</td>
                                <td>
                                    @Html.DropDownListFor(m => m.Employees[i].PositionId, new SelectList(Model.Positions, "Id", "Name"), Model.Employees[i].Position.Name, new { @class = "form-control ", @style = "padding: 5px; height: 35px; margin-left: auto; margin-right:auto;" })
                                </td>
                                <td style="padding-top:14px;">@Model.Employees[i].PhoneNumber</td>
                                @{row++;}
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3>You have no employees to look at!</h3>
        }
        <button type="submit" class="btn btn-default" style="width:100px">Save</button>
        @Html.ActionLink("Done", "Employees", "Manager", null, new { @class = " btn btn-primary" })
    }
</div>

<script>
    function SubmitInfo() {

    }
</script>