@model SuperScheduler.ViewModels.EmployeeViewModel
@{
    ViewBag.Title = "Employee List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12">
    <h2>Employee List</h2>


    @if (Model.Employees.Count > 0)
    {
        <table class="table-hover table-striped table" style="width:100%; text-align:center; font-size:16px;">
            <thead>
                <tr>
                    <th style="text-align:center">#</th>
                    <th style="text-align:center">Employee Name</th>
                    <th style="text-align:center">Position</th>
                    <th style="text-align:center">Phone Number</th>
                    <th style="text-align:center">Employee Status</th>
                    <th style="text-align:center">Change Status</th>
                </tr>
            </thead>
            <tbody style="padding-top:10px;">
                @{
                    int row = 1;
                    foreach (var el in Model.Employees)
                    {
                        <tr>
                            <td style="padding-top:14px;">@row</td>
                            <td style="padding-top:14px;">@el.Name</td>
                            @if (el.Position == null)
                            {
                                <td style="padding-top:14px;">Not Assigned</td>
                            }
                            else
                            {
                                <td style="padding-top:14px;">@el.Position.Name</td>
                            }
                            <td style="padding-top:14px;">@el.PhoneNumber</td>
                            @if (el.Active)
                            {
                                <td style="padding-top:14px; color:#00bc8c"><b>Active</b></td>
                                <td>
                                    @Html.ActionLink("Deactivate", "ChangeEmployeeStatus", "Manager", new { employeeId = el.UserId }, new { @class = " btn btn-primary", @style = "padding: 5px; width: 90px" })
                                </td>
                            }
                            else
                            {
                                <td style="padding-top:14px; color:#e74c3c"><b>Inactive</b></td>
                                <td>
                                    @Html.ActionLink("Activate", "ChangeEmployeeStatus", "Manager", new { employeeId = el.UserId }, new { @class = " btn btn-primary", @style = "padding: 5px; width: 90px" })
                                </td>
                            }

                            @{row++;}
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>You have no employees to look at!</h3>
    }

    @Html.ActionLink("Edit Employee Positions", "EditEmployeePositions", "Manager", null, new { @class = " btn btn-primary" })

</div>