@model SuperScheduler.ViewModels.SchedulesViewModel
@{
    ViewBag.Title = "View Schedules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-sm-12">
    <h2>Schedules</h2>


    @if (Model.Schedules.Count() > 0)
    {
        <table class="table-hover table-striped table" style="width:100%; text-align:center; font-size:16px;">
            <thead>
                <tr>
                    <th style="width:15%; text-align:center">#</th>
                    <th style="width:30%; text-align:center">Schedule Name</th>
                    <th style="width:30%; text-align:center">Set as Active Schedule</th>
                    <th style="width:25%; text-align:center">Delete Schedule</th>
                </tr>
            </thead>
            <tbody style="padding-top:10px;">
                @{
                    int row = 1;
                    foreach (var el in Model.Schedules)
                    {
                <tr style="">
                    <td style="width:15%;padding-top:14px;">@row</td>
                    <td style="width:30%;padding-top:14px;">@el.ScheduleName</td>
                    <td style="width:30%;">
                    @Html.ActionLink("Set As Active Schedule", "ActivateSchedule", "Manager", new { scheduleName = el.ScheduleName }, new { @class = " btn alert-success ", @style = "padding: 5px" })
                    </td>
                    <td style="width:25%">
                        @Html.ActionLink("Delete", "DeleteSchedule", "Manager", new { scheduleName = el.ScheduleName }, new { @class = " btn alert-danger ", @style = "padding: 5px" })
                    </td>
                    @{row++;}
                </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>You have no saved schedules. Click add to add one!</h3>
    }

    @Html.ActionLink("Add", "GenerateSchedule", "Manager", null, new { @class = " btn btn-default ", @style = "padding: 5px; width: 80px" })
</div>




