
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Super Scheduler", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (User.IsInRole("CanManageSchedule"))
                {
                    @Html.Partial("_ManagerNavbar")
                } else if (Request.IsAuthenticated)
                {
                    @Html.Partial("_EmployeeNavbar")
                }
                else
                {
                    @Html.Partial("_DefaultNavbar")
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

